*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



